@media only screen and (max-width: 592px) {
    .item__card {
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
}

.stone__header {
    width: 100%;
    height: 100vh;
    background-image: url(img/backdesk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.item__card img {
    margin: 0px;
}

.stone__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stone__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stone__logo {
    width: 200px;
    filter: drop-shadow(0px 4px 50px #FFD700);
}

.stone__title {
    font-weight: 700;
    font-size: calc(20px + 40 * (100vw / 1280));
    background: linear-gradient(94.76deg, #B97E16 7.52%, #F3DD3C 29.02%, #904815 50.06%, #F4CB40 72.9%, #883B13 93.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.stone__subtitle {
    margin: 27px 0 33px;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: white;
    text-align: center;
}

.stone__feauterus {
    border: 1px solid #FFFFFF;
    border-radius: 12.5px;
    width: 138.76px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;
}

.stone__down {
    margin-bottom: 23px;
}

.stone__feauter:not(:last-of-type) {
    margin-right: 17.44px;
}

.stone__gaps {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 39px;
}

.stone-gap {
    width: 300px;
    border: 1px solid #000000;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 39px;
}

.stone-gap__image {
    object-fit: cover;
    margin-bottom: 12px;
    margin-top: 33px;
    width: 300px;
    height: 540px;
    left: 63px;
}

.stone-gap__title {
    margin: 0 auto 20px 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.stone-gap__table {
    margin-right: auto;
}

.stone-gap__d {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border-bottom: 1px solid gray;
}

.stone-gap__price {
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}

.stone-gap__buy {
    width: 260px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #444444;
    text-decoration: none;
    color: black;
}

.stone-gap__buy:hover {
    color: gray;
    border-color: gray;
}

.buy {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}

.stone__footer {
    background: #F1F1F1;
    height: 143px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item:not(:last-of-type) {
    margin-right: 35px;
}

.add-button {
    text-decoration: none;
    color: black;
}

.admin {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.admin__table {
    text-align: left;
    border: 1px black solid;
    background-color: whitesmoke;
    border-collapse: collapse;
}

.admin__table-row td, th {
    padding: 10px;
    border: 1px black solid;
}

.admin__table .stone-gap__buy {
    display: flex;
    width: auto;
    height: auto;
    padding: 10px;
}

.add-button:hover {
    opacity: 0.5;
}

.stone__form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stone__option {
    border: 0;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.add {
    width: 325px;
    margin-top: 20px;
}

.timg {
    margin: 0;
    width: auto;
    height: 100px;
}

.stone__form-title {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}

.stone__form-input {
    width: 305px;
    height: 30px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.stone__form-input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: gray;
}

.stone__form-submit {
    width: 325px;
    height: 60px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: black;
    background: #FFD700;
    border-radius: 5px;
    display: block;
    margin-top: 15px;
}

.stone__form-submit:hover {
    background: white;
}

.stone__checkbox-option .stone__form-title {
    margin-bottom: 10px;
}

.view {
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.view-img {
    height: 100vh;
}